<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Nanotomy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div th:insert="~{template :: basenavbar}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 pt-2">
            <h2>Publications</h2>
            <p>All datasets were recorded using S(T)EM, unless noted otherwise.</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 pt-2">
            <font size="2">
                <table class="table table-bordered table-sm" id="pubTable">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Year</th>
                        <th scope="col">Authors (selected)</th>
                        <th scope="col">Journal</th>
                        <th scope="col">Dataset link and short title</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="publication:${publications}">
                        <td th:text="${publication.getYear()}">_offline year_</td>
                        <td th:text="${publication.getAuthors()}">_offline author_</td>
                        <td><a th:href="@{${publication.getJournalLink()}}"
                               th:text="${publication.getJournalDataset()}" class="text-body">_offline journal_</a></td>
                        <td><a th:href="@{${publication.getEMLink()}}"
                               th:text="${publication.getEMDataset()}" class="text-body">_offline EM data_</a></td>
                    </tr>
                    </tbody>
                </table>
            </font>
        </div>
    </div>
</div>

<!--<div th:insert="~{template :: base-footer}"></div>-->

<!--<script>-->
<!--    function sortTable(n) {-->
<!--        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;-->
<!--        table = document.getElementById("pubTable");-->
<!--        switching = true;-->
<!--        // Set the sorting direction to ascending:-->
<!--        dir = "asc";-->
<!--        /* Make a loop that will continue until-->
<!--        no switching has been done: */-->
<!--        while (switching) {-->
<!--            // Start by saying: no switching is done:-->
<!--            switching = false;-->
<!--            rows = table.rows;-->
<!--            /* Loop through all table rows (except the-->
<!--            first, which contains table headers): */-->
<!--            for (i = 1; i < (rows.length - 1); i++) {-->
<!--                // Start by saying there should be no switching:-->
<!--                shouldSwitch = false;-->
<!--                /* Get the two elements you want to compare,-->
<!--                one from current row and one from the next: */-->
<!--                x = rows[i].getElementsByTagName("TD")[n];-->
<!--                y = rows[i + 1].getElementsByTagName("TD")[n];-->
<!--                /* Check if the two rows should switch place,-->
<!--                based on the direction, asc or desc: */-->
<!--                if (dir === "asc") {-->
<!--                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {-->
<!--                        // If so, mark as a switch and break the loop:-->
<!--                        shouldSwitch = true;-->
<!--                        break;-->
<!--                    }-->
<!--                } else if (dir === "desc") {-->
<!--                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {-->
<!--                        // If so, mark as a switch and break the loop:-->
<!--                        shouldSwitch = true;-->
<!--                        break;-->
<!--                    }-->
<!--                }-->
<!--            }-->
<!--            if (shouldSwitch) {-->
<!--                /* If a switch has been marked, make the switch-->
<!--                and mark that a switch has been done: */-->
<!--                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);-->
<!--                switching = true;-->
<!--                // Each time a switch is done, increase this count by 1:-->
<!--                switchcount ++;-->
<!--            } else {-->
<!--                /* If no switching has been done AND the direction is "asc",-->
<!--                set the direction to "desc" and run the while loop again. */-->
<!--                if (switchcount === 0 && dir === "asc") {-->
<!--                    dir = "desc";-->
<!--                    switching = true;-->
<!--                }-->
<!--            }-->
<!--        }-->
<!--    }-->
<!--</script>-->
</body>
</html>